.card-structure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .card-structure{
        justify-content: space-between;
        flex-direction: column;
    }    
    .home{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}